@using MyFirstMVCApp.Controllers
@using Microsoft.Extensions.Logging
@model ProductViewModel
@inject ILogger<HomeController> logger 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    await Html.RenderPartialAsync("ProductDisplay", Model.Product);
}

<p>
    Minutes left in the day was @((DateTime.Today.AddDays(1) - DateTime.Now).Minutes)
</p>

@if (Model.Discount != null)
{
    <blink>Today there is a @Model.Discount.Savings.ToString("0%") sale!</blink>
}

@{
    await Html.RenderPartialAsync("Greeting");

    }
@{
    logger.LogInformation("Home page was delivered");
}

@section Scripts {
<script>
    // Script section that will be included in the _Layout.cshtml RenderSectionAsync section.
    //This is for things like javascript files but can be anything you want to put there like an alert.
</script>
}